.sidebar {
    
}

.sidebar.open {
    
    
}

.background {
    z-index: 10;
    

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 63px;
    padding-left: 70px;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color:plum;
}

.nav a.active {
    color:cornflowerblue;
}



.close {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 24px;
    top: 16px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close img {
    height: 24px;
    width: 24px;
}
