.input:focus {
    outline: none;
}

.input {
    height: 30px;
    width: 200px;
    border: 2px solid #a6c1fe;
    border-radius: 4px;
    margin-left: 40px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border-color: #cc0000;
}

.errorInput:focus {
}

.error {
    color: #cc0000;
}
